@import "tailwindcss";

:root {
  --header-height: 72px;
}

@theme {
  --color-primary-900: #0b202a;
  --color-primary-700: #113b50;
  --color-primary-800: #071922;
  --color-gray-500: #8c9aa9;
  --color-gray-200: #dde3ea;
  --color-gray-100: #f5f7fa;
  --color-secondary: #05a6a6;
  --color-gold: #f7c948;
  --font-inter: var(--font-inter);
  --font-avenir: var(--font-avenir);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

html {
  @apply font-inter font-normal;
}

body {
  @apply text-base lg:text-lg bg-primary-900 text-white;
}

p {
  @apply text-gray-500 mb-4 text-pretty;
}

h1,
h2 {
  @apply font-avenir font-bold mb-2 text-balance;
}

h2 {
  @apply mb-4;
}

h4 {
  @apply font-semibold text-xl;
}

.small-title {
  @apply font-semibold text-xl;
}

section {
  @apply lg:py-24 max-lg:py-10;
}

.section-title {
  @apply text-3xl lg:text-5xl xl:text-6xl font-bold;
}

h3.section-title {
  @apply mb-3;
}

.button-primary {
  background: linear-gradient(
    109.39deg,
    #113b50 1.39%,
    #0a767f 52.8%,
    #05a6a6 90.02%
  );
  @apply text-base lg:text-lg rounded-2xl px-6 py-3 mt-2 inline-block;
}

.button-secondary {
  @apply text-lg bg-primary-700 rounded-2xl px-6 py-2 inline-block;
}

.typewriter h1 {
  @apply overflow-hidden border-r text-center mt-4 text-[4.9vw] mx-auto whitespace-nowrap font-inter font-extralight text-[#00A8A6];
  border-right-width: 0.1em; /* Tailwind doesn't support this specific width, so use plain CSS */
  opacity: 0;
  animation: typing 1.8s steps(40, end) 2s forwards,
    blink-caret 0.75s step-end infinite 2s;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-primary-700);
  }
}

.number-box {
  @apply rounded-2xl p-7;
  background: linear-gradient(
    124.77deg,
    rgba(29, 40, 56, 0.5) 0%,
    rgba(29, 40, 56, 0) 100%
  );
}

.number-box.light {
  background: linear-gradient(
    124.77deg,
    #07262b 0%,
    rgba(29, 40, 56, 0.5) 100%
  );
}

.number-box > h5 {
  @apply text-3xl lg:text-4xl font-semibold;
}

.number-box > span {
  @apply text-gray-500 text-base;
}
.footer-menu {
  @apply flex flex-col max-lg:gap-1 lg:gap-3;
}
.footer-menu a {
  @apply text-gray-500 hover:text-white;
}

footer h5 {
  @apply lg:mb-5 lg:text-xl max-lg:mb-3 max-lg:text-lg;
}

.progress-circle {
  @apply w-40 aspect-square rounded-full;
  border: 6px solid;
  border-image-source: linear-gradient(
    109.39deg,
    #113b50 1.39%,
    #0a767f 52.8%,
    #05a6a6 90.02%
  );
  border-image-slice: 1;
}

.bg-custom-gradient {
  @apply flex items-center justify-center text-center max-lg:p-10 lg:p-18 rounded-4xl;
  background: linear-gradient(
      0deg,
      rgba(29, 29, 29, 0.05),
      rgba(29, 29, 29, 0.05)
    ),
    linear-gradient(
      106.42deg,
      rgba(12, 61, 72, 0.5) -0.63%,
      rgba(12, 61, 72, 0) 95.32%
    );
  border: 1.16px solid;

  border-image-source: linear-gradient(
    90deg,
    rgba(79, 168, 189, 0.1) 10.5%,
    rgba(33, 91, 104, 0.1) 69.57%
  );
  backdrop-filter: blur(47.95000076293945px);
  box-shadow: 0px 8px 12px 0px #ffffff26 inset;
}

.custom-dots {
  @apply !flex justify-center mt-10 gap-4;
}
.custom-dots div {
  @apply w-[10px] h-[10px] rounded-full bg-gray-400 hover:bg-white hover:cursor-pointer;
}
.custom-dots .slick-active div {
  @apply bg-white;
}

.mega-menu {
  @apply absolute p-10 w-full left-0 top-[var(--header-height)] hidden group-hover:block bg-primary-800;
}
